#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('assets/background.png');
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card {
    width: 45%;
    height: 35%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0px 0px 30px -15px rgba(0, 0, 0, 0.7);
}

.heading {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.button {
    position: relative;
    background-color: #1e4366; /* Soft green-blue for a fresh look */
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #2c599d;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: scale(0.98);
  background-color: #2d5898;
}
